@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

* {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;

    --color-off-white: #f7f7f7;
    --color-light-gray: #ebebeb;
    --color-gray: #5b5b5b;
    --color-dark-gray: #333333;
    --color-purple: #6a5db0;
    --color-green: #5db08f;
    --color-green-contrast: hsl(156, 34%, 40%);
    /* #5db08f */

    --input-default: #828282;
    --input-active: var(--color-purple);
    --input-error: #fd708f;

    --title: 2rem;
    --section: 1.75rem;
    --subsection: 1.5rem;
    --text: 1rem;
    --subtext: .75rem;

    /* default 16 * 50 = 800 */
    --max-width: 50rem;
}

html,
body {
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 5rem;
}

header {
    background-color: var(--color-light-gray);

    display: flex;
    align-items: center;
}

main {
    grid-column: span 2;
}

footer {
    grid-column: span 3;

    padding: 2rem;
    color: var(--color-off-white);
    background-color: var(--color-green-contrast);

    display: flex;
    align-items: center;
}

section {
    display: flex;
}

section:nth-child(2n) {
    background-color: var(--color-off-white);
}

section:nth-child(2n + 1) {
    background-color: var(--color-light-gray);
}

form {
    height: 100%;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

@media screen and (max-width: 900px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: 100% 1fr 1fr;
    }

    main {
        grid-column: span 1;
    }

    footer {
        grid-column: span 1;
        justify-content: center;
    }

    section {
        justify-content: center;
    }
}

/* ====================================================================================== */
/* HTML ELEMENTS */

h1 {
    font-size: var(--title);
    color: var(--color-dark-gray);
    margin-bottom: 1rem;
}

h2 {
    font-size: var(--section);
    color: var(--color-green-contrast);
    margin-bottom: 1rem;
}

p {
    font-size: var(--text);
    color: var(--color-dark-gray);
    margin-bottom: 1rem;
}

img {
    width: calc(5 * var(--title));
}

svg {
    height: 80%;
    fill: var(--color-green);
}

label {
    display: block;
    font-size: calc(.75 * var(--text));
    text-transform: uppercase;
}

input {
    display: block;
    padding: calc(.25 * var(--text)) calc(.5 * var(--text));
    min-width: 30ch;

    font-size: var(--text);
    border: 1px solid var(--input-default);
    border-radius: 2px;
}

.item:has(input:required:invalid)::after {
    font-size: var(--subtext);
    content: " * required";
    color: var(--input-error);
}

input:active,
input:focus {
    outline: var(--input-active) solid 1px;
    outline-offset: -1px;
    box-shadow: 1px 1px 4px -2px var(--color-dark-gray);
}

input:invalid {
    outline: var(--input-error) solid 1px;
    outline-offset: -1px;
}

button {
    margin-bottom: .5rem;
    padding: calc(.75 * var(--text)) calc(4 * var(--text));

    color: var(--color-off-white);
    background-color: var(--color-purple);

    font-size: var(--text);
    border-style: none;
    border-radius: 2px;
}

button:disabled,
button:hover:disabled,
button:active:disabled {
    filter: saturate(.1);
}

a {
    color: var(--color-green-contrast);
    font-weight: bold;
    text-decoration: none;
}

button:hover,
a {
    filter: brightness(1.1);
}

button:active,
a {
    filter: brightness(0.9);
}

footer a {
    color: var(--color-off-white);
    font-weight: bold;
    text-decoration: none;
}

/* ====================================================================================== */
/* CLASSES ELEMENTS */

.banner {
    width: min-content;
    margin: 0 auto;
}

.top,
.mid {
    align-items: center;
    justify-items: left;
}

.wrapper {
    padding: 3rem;
    max-width: min(90ch, 100%);
}

.mid .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem 3rem;
}

@media screen and (max-width: 900px) {

    .top,
    .mid,
    .bottom {
        justify-items: center;
    }

    .mid .wrapper {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
}