@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

* {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;

    --color-off-white: #f7f7f7;
    --color-light-gray: #ebebeb;
    --color-gray: #5b5b5b;
    --color-dark-gray: #333333;
    --color-purple: #6a5db0;
    --color-green: #5db08f;
    --color-green-contrast: hsl(156, 34%, 40%);
    /* #5db08f */

    --input-default: #828282;
    --input-active: var(--color-purple);
    --input-error: #fd708f;

    --title: 2rem;
    --section: 1.75rem;
    --subsection: 1.5rem;
    --text: 1rem;
    --subtext: .5rem;

    /* default 16 * 50 = 800 */
    --max-width: 50rem;
}

html,
body {
    height: 100%;
}

/* ====================================================================================== */
/* HEADER SECTION */

header {
    height: 100%;
    background-color: var(--color-light-gray);
    display: grid;
}

.banner {
    justify-self: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.separator {
    align-self: end;

    height: var(--title);
    background-color: var(--color-dark-gray);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: var(--title);
    color: var(--color-dark-gray);
}

img {
    width: calc(5 * var(--title));
}

svg {
    height: 80%;
    fill: var(--color-green);
}

/* ====================================================================================== */
/* MAIN SECTION */

form {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
}

section {
    --section-padding: 2rem;
    padding: var(--section-padding);
}

section:nth-child(2n) {
    background-color: var(--color-off-white);
}

section:nth-child(2n + 1) {
    background-color: var(--color-light-gray);
}

.container {
    max-width: var(--max-width);
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* -------------------------------------------------------------------------------------- */
/* FORM SECTION */

/* FIRST SECTION */

h2 {
    font-size: var(--section);
    color: var(--color-green-contrast);
    margin-bottom: .5rem;
}

p {
    font-size: var(--text);
    color: var(--color-dark-gray);
}

/* SECOND SECTION */

.form-input {
    gap: 1rem
}

.form-input-wrapper {
    max-width: 40ch;
}

label {
    display: block;
    font-size: calc(.75 * var(--text));
    text-transform: uppercase;
}

input {
    padding: calc(.25 * var(--text)) calc(.5 * var(--text));
    width: 100%;

    font-size: var(--text);
    border: 1px solid var(--input-default);
    border-radius: 2px;
}

input:active,
input:focus {
    outline: var(--input-active) solid 1px;
}

input:invalid {
    outline: var(--input-error) solid 1px;
}

/* THIRD SECTION */

button {
    margin-bottom: .5rem;
    padding: calc(.5 * var(--text));

    color: var(--color-off-white);
    background-color: var(--color-purple);

    font-size: var(--text);
    border-style: none;
    border-radius: 2px;
}

button:hover,
a {
    filter: brightness(1.1);
}

button:active,
a {
    filter: brightness(0.9);
}

a {
    color: var(--color-green-contrast);
    font-weight: bold;
    text-decoration: none;
}

/* ====================================================================================== */
/* FOOTER SECTION */

footer {
    padding: 1rem;
    background-color: var(--color-green-contrast);
}

footer .container {
    color: var(--color-off-white);
    display: block;
}

footer a {
    color: var(--color-off-white);
    font-weight: bold;
    text-decoration: none;
}